# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Python package metadata
*.egg-info/

# Testing
.pytest_cache/

# Virtual Environment
arpc-venv/
venv/

# Logs
*.log

# Editor
.vscode/
.idea/

# Output / others
output/
.env
