# Python
__pycache__
*.pyc
*.pyo
*.pyd

# Python package metadata
*.egg-info/

# Virtual Environment
arpc-venv/
venv/

# Secrets / inventory
inventory/devices.yml

# Logs
*.log

# Editor
.vscode/
.idea/

# Output / others
output/
.env

